* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.homePage {
    &__container {
        width: 100%;
        margin: auto;
    }

    &__img {
        width: 100%;
        background: linear-gradient(90deg, #000000 30%, rgba(0, 0, 0, 0) 100%),
            url("../../assets/golf.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 150px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 160px;
    }

    &__title {
        color: white;
        font-weight: 500;
        font-size: 72px;
        max-width: 600px;
    }

    &__desc {
        color: white;
        padding: 20px 0;
        max-width: 600px;
    }

    &__button {
        background: #38cb89;
        border: 1px solid #38cb89;
        padding: 10px 30px;
        border-radius: 8px;
        font-weight: 600;
        color: white;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
            background: #2da673;
        }
    }

    @media (max-width: 1024px) {
        &__img {
            height: 400px;
            padding: 100px 20px;
        }

        &__title {
            font-size: 50px;
        }
    }

    @media (max-width: 571px) {
        &__img {
            padding: 80px 20px;
            align-items: center;
            text-align: center;
            display: flex;
            flex-direction: column;
        }

        &__title {
            font-size: 40px;
        }

        &__desc {
            font-size: 16px;
        }

        &__button {
            padding: 8px 20px;
            font-size: 14px;
        }
    }
}
